
<p id="notice"><%= notice %></p><p id="alert"><%= alert %></p>
<div id="login" class="login">
  <span>Live Question App Login</span>
  <form action="/login/login" method="get">
    <br/>User ID:   <br/>
    <input id="userId" type="text" name="uname" style="width: 140px;"/>
    <br/>
     Password:   <br/>
    <input id="password" type="password" name="password" style="width: 140px;"/>
    <br/>  <br/>
    <input type="submit" id="signIn" value="Sign in"/>  <%= link_to 'New User', new_user_path %>  <span style="font-size: 7pt;">(Sign up here for a new account)</span>
  </form>
</div>